header{
    background-color: pink;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-header{
    display: flex;
    justify-content: space-around;
}

.navbar-header a{
    text-decoration: none;
    color: white;
}
.navbar-header a:active{
    text-decoration: none;
    color: black;
}